* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-section {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-image: url('./image/bg.jpg');
    position: relative;
}
.title {
    position: absolute;
    left: 30px;
    top: 50px;
    color: gray;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.menu {
    position: absolute;
    right: 30px;
    top: 50px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.lorem {
    color: #fff;
}
.lorem:hover {
    color: gray;
}
    .container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        height: 300px;
        text-align: center;
    }
    .container p {
        font-size: 25px;
        color: #fff;
        margin-bottom: 30px;
        font-family: 'Montserrat', sans-serif;
    }
    .container h1 {
        font-size: 100px;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
    }
    .line {
        width: 100%;
        height: 1px;
        background-color: #fff;
        margin-bottom: 20px;
    }



    .cards__section {
        width: 100vw;
        height: 100vh;
        background-color: #eee;
    }
    .cards__container {
        width: 1300px;
        height: 1000px;
        margin: auto;
        padding-top: 120px;
    }
    .card {
        width: 550px;
        display: inline-block;
        text-align: center;
    }
    .card2 {
        margin-left: 150px;
    }
    .cardimg {
        margin-bottom: 45px;
    }
    .pc1 {
        color: gray
    }